.apl_map:-moz-full-screen {
        height: 100%;
				width: 100%;
      }
.apl_map:-webkit-full-screen {
        height: 100%;
				width: 100%;
      }
.apl_map:-ms-fullscreen {
        height: 100%;
				width: 100%;
      }
.apl_map:fullscreen {
        height: 100%;
				width: 100%;
      }