html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#odoo-google-map {
    position: absolute;
    top: 0px;
    left:0;    
    width: 100%;
    height: 100%;
}
#screen{
    position: absolute;
    width:100%;
    height: 100%;
}
#pillar_wizard{
    width: 100%;
    max-height: 800px;
    position: absolute;
    /* top: 10px; */
    left: 250px;
    bottom: 0px;
    z-index: 1000;
    background-color: black;
    border-radius: 0px;
    opacity: 0.8;
    right: 10px;
    font-size: 11px;
    font-family: Roboto, Arial, sans-serif;
    padding: 8px;
    box-shadow: rgba(255,255,255,0.29) 0px 1px 4px -1px;
    color: white;
    
}
#apl_info{
    width: 100%;
    max-height: 800px;
    position: absolute;
    /* top: 10px; */
    left: 250px;
    bottom: 0px;
    z-index: 1000;
    background-color: black;
    border-radius: 0px;
    opacity: 0.8;
    right: 10px;
    font-size: 11px;
    font-family: Roboto, Arial, sans-serif;
    padding: 8px;
    box-shadow: rgba(255,255,255,0.29) 0px 1px 4px -1px;
    color: white;
    
}
.marker {
    font-size: 13px !important;
}

.marker a {
    text-decoration: none;
}

.marker pre {
    margin-top: 0;
    margin-bottom: 0;
    font-family: sans-serif !important;
}
