html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#odoo-google-map {
    position: absolute;
    top: 0px;
    left:0;    
    width: 100%;
    height: 100%;
}
#screen{
    position: absolute;
    width:100%;
    height: 100%;
}
#pillar_wizard{
    width: 400px;
    max-height: 800px;
    position: absolute;
    top: 10px;
    z-index: 1000;
    background-color: white;
    border-radius: 3px;
    opacity: 0.9;
    right: 10px;
    font-size: 11px;
    font-family: Roboto, Arial, sans-serif;
    padding: 8px;
    box-shadow: rgba(0,0,0,0.29) 0px 1px 4px -1px;
    
}
#apl_info{
    width:400px;
    max-height: 500px;
    position:absolute;
    bottom:150px;
    z-index:1010;
     background-color: white;
    border-radius: 3px;
    opacity: 0.9;
    right: 10px;
    font-size: 11px;
    font-family: Roboto, Arial, sans-serif;
    padding: 8px;
    box-shadow: rgba(0,0,0,0.29) 0px 1px 4px -1px;
    
}
.marker {
    font-size: 13px !important;
}

.marker a {
    text-decoration: none;
}

.marker pre {
    margin-top: 0;
    margin-bottom: 0;
    font-family: sans-serif !important;
}
