.cwrap{
display: block;
opacity: 1;
position: fixed;
left: 0;
right: 0;
top: 0;
bottom: 0;
background-color: rgba(1, 1, 1, 0.725);
z-index: 1100;
overflow: auto;
}
 
.cfotorama{
position: relative;
z-index: 1100;
pointer-events: none;
}

[class*='close-'] {
  color: #FFFFFF;
  font: 50px/100% arial, sans-serif;
  position: absolute;
  right: 5%;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
  top: 2%;
}

.close-thik:after {
  content: '✖'; /* UTF-8 symbol */
}
.div_map
{
	width: 600px;
	height: 300px;
	right: 0;
	bottom: 0;
	position: fixed;
	z-index: 1100;
}
.defectForm {
    width: 50%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    z-index: 2000;
    position: absolute;
    top: 0;
}

.defectInputText {
    width: 100%;
    padding: 3px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 6px;
    resize: vertical;
}

.defectInputSubmit {
    background-color: orange;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 30px;
}

img{
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}