.l_button {
	position: fixed;
	top: 0px;
	left: 0;
	background: #586371;
	width: 15px;
	height: 100%;
	font: 15px Georgia;
	color: #fff;
	text-align: center;
	z-index:1300;
	}
.l_panel {
	position: fixed;
	top: 0px;
	left: -200px;
	background: #586371;
	width: 200px;
	height: 100%;
	padding: 0 0 0 0;
	z-index:1300;
	}
.l_controle_block{
position: absolute;
padding: 50px 0 0 0;
z-index:1300;
}
.l_rectangle_icon {
	padding: 0 0 0 0;
	margin: 20px 10px 10px 10px;
	z-index:1300;
}
.l_text_icon {
	margin: 20px 10px 10px 10px;
	z-index:1300;
}
.l_table
{
	font-size: 12px;
	border-collapse: collapse;
	border: 1px solid white;
	margin: 0 5px 0 5px;
	width: 90%;
	z-index:1300;
}
td, th
{
	border-collapse: collapse;
	border: 1px solid white;
	text-align: center;
	vertical-align: top;
}
caption
{
	font: 12px;
	color: #fff;
}
