.div_img_thumb{
    overflow-y: overlay;
}
#photolist{
    position:relative;
    max-height:50%;
    overflow-y:auto;
    overflow-x:hidden;
    padding-top:12px;
    z-index: 1500;
}

#photo_full_frame{
    position: fixed;
    visibility: visible;
    width: 70%;
    height: 80%;
    z-index: 1100;
    top: 5%;
    left: 15%;
    opacity:1;
    overflow: inherit;
    
}

#photo_preview_frame{
    position: fixed;
    visibility: visible;
    width: 600px;
    height: 450px;
    left: 50%;
    margin-left: -300px;
    top: 0px;
    z-index:1500;
}

#photo_preview_frame.novis{
    visibility: hidden;
    width:0px;
    height:0px;
}
#photo_full_frame.novis{
    visibility: hidden;
    width:0px;
    height:0px;
}
.img_photo_thumb{
    float:left;
}
.img_photo_thumb:hover{
    filter:grayscale(100%);
}